:root {
  --green: #76946d;
  --dark-green: #556b50;
  --light-green: #d8e3d5;
  --light-orange: #f4c078;
  --light-lime: #bdf17e;
  --white: #ffffff;
  --text: #1a1a1a;
  --gray: #e0e0e0;
  --red: #c73b3b;
}