body {
    font-family: "Ubuntu Mono", monospace !important;
    font-weight: 400;
    font-style: normal;
}

.custom-navbar {
    background-color: #7b9c75 !important;
}

.custom-navbar .nav-link {
    color: white !important;
    font-weight: 700;
    margin-left: 20px;
}

.custom-navbar .nav-link:hover {
    color: lightgray !important;
}

.dropdown-menu {
    min-width: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

li {
    list-style: none;
}

footer {
    background-color: #7b9c75;
    color: white;
    padding: 2rem 0;
}

.footer-custom {
    background-color: #7b9c75;
    color: white;
    padding: 1.5rem 0;
}

.footer-custom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-custom p {
    max-width: 70%;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .footer-custom .container {
        flex-direction: column;
        text-align: center;
    }

    .footer-custom p {
        max-width: 100%;
        margin-bottom: 1rem;
    }
}